@model IEnumerable<FoodApp2.Models.RestaurantReviewModel>

@{
    ViewBag.Title = "Latest Reviews";
}

<h2>@ViewBag.Title</h2>

@section featured {
    We are showing the latest @Model.Count() reviews
}


@foreach (var item in Model)
{
    @Html.Partial("_Review", item);
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>